*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* INÍCIO CSS DA HEADER */

header{
    display: flex;
    height: 700px;
    background-image: url(https://rare-gallery.com/uploads/posts/130561-demi-lovato-american-way-magazine-hd.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    display: flex;
    width: 200px;
    margin-top: 55px;
    align-items: center;
}

.imagemLogo{
    display: flex;
    width: 200px;
    margin-bottom: 645px;
}

.menu{
    display: block;
    margin-bottom:auto;
    margin-top: 6px;
    margin-left: 412px;
}

nav ul{
    display: flex;
}

nav a{
    display:flex;
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

nav .active a, nav a:hover{
    background-color: #000000;
    color: #ffffff;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    width: 380px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.banner p {
    font-size: 30px;
    margin: 18px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* FIM CSS HEADER */

/* INÍCIO CSS DOS BANERS */

.introducao .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introducao .introducaotext {
    width: 50%;
    padding: 0 40px;
}

.introducao .introducaotext h3 {
    font-size: 56px;
    color: #000000;
}

.introducao .introducao p {
    margin: 5px 0 10px 0;
}

.introducao .introducaotext a {
    width: 150px;
    text-align: center;
}

.social {
    padding: 40px;
}

.social .container {
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 250px;
    height: 400px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
}

.card img {
    width: 200px;
    height: 200px;
}

.card h4 {
    font-size: 24px;
    color: #000000;
}
.containeralone{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{ 
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    }
    
/* FIM CSS BANERS*/

/* INÍCIO CSS ALBUNS */
.textinho{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section {
    display: flex;
    gap: 90px; /* Espaçamento entre as imagens */
    transition: transform 0.5s ease;
    margin-bottom: 10px;
}
.section img {
    width: 200px; /* Largura das imagens */
    height: auto;
    transition: transform 0.3s ease;
}
.section img:hover {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

/* FIM CSS ALBUNS */

/* INÍCIO CSS FOOTER */

.footer {
    display: flex;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: end;
}

/* FIM CSS FOOTER */